<div id = "movieListDiv" class="wrapper">
    <div class="titleMovie">
        <img src={{movie.poster_path}} class="img">
    </div>
    <div>
        <h1> {{movie.original_title}} </h1>
        <h2 *ngIf= "!isEng(movie.original_title, movie.title)"> English Title: {{movie.title}} </h2>
        <h1> ({{movie.release_date}}) </h1>
        <div>
            <h2 *ngIf="movie.status == 'Released'">
                The movie has been released
            </h2>
        </div>
        
        The Runtime is: {{movie.runtime}} Minutes
        <br>
        <br>

        <h2 *ngIf="movie.tagline"> 
            "{{movie.tagline}}" 
        </h2>

        <hr>
        <p class="truncate"> {{movie.overview}} </p>
    </div>
</div>

<hr>

<h1> Similar Movies </h1>

<div id= "similarListDiv" class="wrapper2">
    <a
        *ngFor="let movie of movies"
    >
    <mat-card> 
        <img (click)="onSelect(movie)" class="img" mat-card-image src={{movie.poster_path}} alt="{{movie.title}}">
    
        <mat-card-title text-align = "left">
                <h3> {{movie.original_title}} 
                    <h4 *ngIf= "!isEng(movie.original_title, movie.title)">
                        English Title: {{movie.title}}
                    </h4>
                    <h4 *ngIf= "isEng(movie.original_title, movie.title)">
                        <br>
                    </h4>
                </h3>                
        </mat-card-title>
        
        <hr>
        <br>
        
        <mat-card-subtitle>
            ({{movie.release_date}})
        </mat-card-subtitle>

        <mat-card-content >
            <h3 *ngIf="movie.tagline"> 
                {{movie.tagline}} 
            </h3>
            <h3 class="truncate" *ngIf="!movie.tagline">
                {{movie.overview}}
            </h3>
        </mat-card-content>

        <mat-card-actions class="btn-container">
            <button (click)="incrementEmotion(movie, 0)" matBadge="{{getEmotion(movie,0)}}" matBadgeColor="warn" class="btn"> 
                <fa-icon [icon]="faSmileBeam"></fa-icon> 
            </button>
            <button (click)="incrementEmotion(movie, 1)" matBadge="{{getEmotion(movie,1)}}" matBadgeColor="warn" class="btn"> 
                <fa-icon [icon]="faGrinSquintTears"></fa-icon> 
            </button>
            <button (click)="incrementEmotion(movie, 2)" matBadge="{{getEmotion(movie,2)}}" matBadgeColor="warn" class="btn"> 
                <fa-icon [icon]="faTired"></fa-icon> 
            </button>
            <button (click)="incrementEmotion(movie, 3)" matBadge="{{getEmotion(movie,3)}}" matBadgeColor="warn" class="btn"> 
                <fa-icon [icon]="faSadTear"></fa-icon> 
            </button>
        </mat-card-actions>

        <mat-card-footer class="btn-footer">
            <div>
                <button (click)="onSelect(movie)" type="button" class="btn-holder-foot-blue"> Similar Movies </button>
            </div>
            <div>
                <button (click)="onDelete(movie)" type="button" class="btn-holder-foot-red"> Delete Movie </button>
            </div>
        </mat-card-footer>
    </mat-card>
    </a>
</div>