<style>

</style>

<div id = "movieListDiv" class="wrapper">
    <div class="titleMovie">
        <img src={{movie.poster_path}} class="img">
    </div>
    <div>
        <h1> {{movie.original_title}} </h1>
        <h2 *ngIf= "!isEng(movie.original_title, movie.title)"> English Title: {{movie.title}} </h2>
        <h1> ({{movie.release_date}}) </h1>
        <hr>
        <p class="truncate"> {{movie.overview}} </p>
    </div>
</div>

<hr>

<h1> Similar Movies </h1>

<div id= "similarListDiv" class="wrapper2">
    <a
        *ngFor="let movie of movies"
    >
    <mat-card> 
        <img (click)="onSelect(movie)" class="img" mat-card-image src={{movie.poster_path}} alt="{{movie.title}}">
    
        <mat-card-title text-align = "left">
                <h3> {{movie.original_title}} 
                    <h4 *ngIf= "!isEng(movie.original_title, movie.title)">
                        English Title: {{movie.title}}
                    </h4>
                    <h4 *ngIf= "isEng(movie.original_title, movie.title)">
                        <br>
                    </h4>
                </h3>                
        </mat-card-title>
        
        <hr>
        <br>
        

        <mat-card-subtitle>
            ({{movie.release_date}})
        </mat-card-subtitle>

        <mat-card-content >
            <p class="truncate2"> {{movie.overview}}</p>
        </mat-card-content>

        <mat-card-actions class="btn-container">
            <button matBadge="15" matBadgeColor="warn" class="btn"> 
                <fa-icon [icon]="faSmileBeam"></fa-icon> 
            </button>
            <button matBadge="15" matBadgeColor="warn" class="btn"> 
                <fa-icon [icon]="faGrinSquintTears"></fa-icon> 
            </button>
            <button matBadge="15" matBadgeColor="warn" class="btn"> 
                <fa-icon [icon]="faTired"></fa-icon> 
            </button>
            <button matBadge="15" matBadgeColor="warn" class="btn"> 
                <fa-icon [icon]="faSadTear"></fa-icon> 
            </button>
        </mat-card-actions>

        <mat-card-footer>
            <button (click)="onSelect(movie)" type="button" class="btn-holder"> Similar Movies </button>
        </mat-card-footer>
    </mat-card>
    </a>
</div>