@import "../app.component.css";
div {
    width: auto;
    /* border: 5px solid rgba(85, 129, 179, 0.63);
    border-radius: 5px; */
    overflow: hidden;
    height: auto;
}

img {
    border-radius: 5px 5px 0 0;
    max-width:100%;
    max-height:100%;
}

p {
    font-size: small;
}

.btn-holder{
    margin: 0;
    top: 50%;
    left: 50%;
}

.home-btn{
    visibility: hidden;
}

a:link {
    text-decoration: none;
  }
  
  a:visited {
    text-decoration: none;
  }
  
  a:hover {
    text-decoration: underline;
    text-decoration-color: rgba(176, 196, 222, 0.486);
  }
  
  a:active {
    text-decoration: underline;
}