<!--
    Truncate Text for movie
    Using breadcrumbs to backtrack
    Changing routing
    Animate Something
-->

<base href="/">

<style>
    .wrapper {
        display:grid;
        grid-template-columns: repeat(4, 1fr);
        grid-template-rows: repeat(5, 1fr);
        grid-gap: 1em;
        grid-auto-rows: 50px;
        justify-self: stretch;
        align-content: space-between;
        align-items: stretch;
        background: rgba(211, 211, 211, 0.336);
        visibility: visible;
        overflow: hidden;
    }

    .wrapper2 {
        display:grid;
        grid-template-columns: repeat(4, 1fr);
        grid-template-rows: 90% 10%;
        grid-gap: 1em;
        grid-auto-rows: 1fr;
        align-content: space-evenly;
        background: rgba(211, 211, 211, 0.336);
        visibility: hidden;
        overflow: hidden;
    }

    .block{
        display: block;
        width: 100%;
        border: none;
        background-color: #9ccbd6;
        padding: 14px 28px;
        font-size: 16px;
        cursor: pointer;
        text-align: center;
        color: white;
        border-radius: 5px 5px 5px 5px;
        vertical-align: baseline;
    }  

</style>

<div id = "movieListDiv" class="wrapper">
    <a
        *ngFor="let movie of movies"
    >
        <div>
            <img src={{movie.poster_path}}>
        
            <div text-align = "left">
                    <h2>{{movie.original_title}}</h2>
                    <h2 *ngIf= "!getEngTitle(movie.original_title, movie.title)"> English Title: {{movie.title}} </h2>
            </div>

            <div>
                ({{movie.release_date}})
                <br>   
            </div>

            <div>
                <p>{{movie.overview}}</p>
            </div>

            <div>
                <button (click)="onSelect(movie)" type="button" class="block" > Similar Movies </button>
            </div>
        </div>
    </a>
</div>