<!--
    Truncate Text for movie
    Using breadcrumbs to backtrack
    Animate Something

    Adjust Card Height
    Truncate text and show full in description
-->

<base href="/">

<div id = "movieListDiv" class="wrapper">
    <a
        class="block"
        *ngFor="let movie of movies"
    >
        <mat-card> 
                <img (click)="onSelect(movie)" class="img" mat-card-image src={{movie.poster_path}} alt="{{movie.title}}">
            
                <mat-card-title text-align = "left">
                        <h2> {{movie.original_title}} 
                            <h3 *ngIf= "!isEng(movie.original_title, movie.title)">
                                English Title: {{movie.title}}
                            </h3>
                            <h2 *ngIf= "isEng(movie.original_title, movie.title)">
                                <br>
                            </h2>
                        </h2>                
                </mat-card-title>
                
                <hr>
                <br>
                

                <mat-card-subtitle>
                    ({{movie.release_date}})
                </mat-card-subtitle>

                <mat-card-content >
                    <p class="truncate"> {{movie.overview}}</p>
                </mat-card-content>

                <mat-card-actions class="btn-container">
                    <button matBadge="15" matBadgeColor="warn" class="btn"> 
                        <fa-icon [icon]="faSmileBeam"></fa-icon> 
                    </button>
                    <button matBadge="15" matBadgeColor="warn" class="btn"> 
                        <fa-icon [icon]="faGrinSquintTears"></fa-icon> 
                    </button>
                    <button matBadge="15" matBadgeColor="warn" class="btn"> 
                        <fa-icon [icon]="faTired"></fa-icon> 
                    </button>
                    <button matBadge="15" matBadgeColor="warn" class="btn"> 
                        <fa-icon [icon]="faSadTear"></fa-icon> 
                    </button>
                </mat-card-actions>

                <mat-card-footer>
                    <button (click)="onSelect(movie)" type="button" class="btn-holder"> Similar Movies </button>
                </mat-card-footer>
            </mat-card>
    </a>
</div>